# compiled output
/dist
/projects/shared/dist
/tmp
/out-tsc

# dependencies
/node_modules
/projects/functions/node_modules
/projects/web/node_modules
/projects/shared/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

.env
dev-dist/
projects/functions/shared/