.pull-up {
  background-color: #f44336;
  position: absolute;
  top: -50px;
  height: 50px;
  width: 100%;
}

.app-content {
  padding: 20px;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
