<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="getLoginCode()" #phoneForm="ngForm" [hidden]="codeSent">
    <mat-card-content>
      <p>fi go! ist ein Arbeitszeitrechner mit folgende Funktionen:</p>
      <ul>
        <li>Anzeige der verbleibenden Arbeitszeit oder Überstunden</li>
        <li>Benachrichtigung bei Erreichen der Arbeitszeit</li>
        <li>Synchronisation über alle Geräte</li>
      </ul>
      <p>
        Du musst dich zuerst mit deiner Telefonnummer einloggen.
        Somit werden deine Zeiten über alle Geräte synchronisiert.
      </p>
      <p [hidden]="!error" class="error">{{ error }}</p>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Telefonnummer</mat-label>
        <span matPrefix>{{countryCode}} &nbsp;</span>
        <input type="tel" matInput placeholder="Telefonnummer" autofocus required validatePhone
              [disabled]="loading"  #phoneInput="ngModel"
              [(ngModel)]="phoneNumber" name="phoneNumber">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Du bekommst einen Einmal-Code an diese Telefonnummer.</mat-hint>

        <mat-error *ngIf="phoneInput.errors?.['required']">
          Phone number is required.
        </mat-error>
        <mat-error *ngIf="phoneInput.errors?.['phoneNumber'] &&
                        (phoneInput.errors?.['phoneNumber']['invalid'] ||
                          phoneInput.errors?.['phoneNumber']['error'] === 'NOT_A_NUMBER')">
          No valid phone number
        </mat-error>
        <mat-error *ngIf="phoneInput.errors?.['phoneNumber'] && phoneInput.errors?.['phoneNumber']['error'] === 'INVALID_COUNTRY'">
          Invalid country code.
        </mat-error>
        <mat-error *ngIf="phoneInput.errors?.['phoneNumber'] && phoneInput.errors?.['phoneNumber']['error'] === 'TOO_SHORT'">
          Phone number is too short.
        </mat-error>
        <mat-error *ngIf="phoneInput.errors?.['phoneNumber'] && phoneInput.errors?.['phoneNumber']['error'] === 'TOO_LONG'">
          Phone number is too long.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="warn" class="full-width" id="get-login-code-button" type="submit"
              [disabled]="!phoneForm.form.valid || loading">Login-Code anfordern</button>
    </mat-card-actions>
  </form>
  <form (ngSubmit)="verifyLoginCode()" #verficationForm="ngForm" [hidden]="!codeSent">
    <mat-card-content>
      <p>Wir haben einen Code zur Überprüfung an {{phone}} gesendet.</p>
      <p [hidden]="!error" class="error">{{ error }}</p>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Bestätigungs-Code</mat-label>
        <input #codeInput type="number" matInput placeholder="Bestätigungs-Code" inputmode="numeric" autocomplete="one-time-code"
              [disabled]="loading"
              [(ngModel)]="verificationCode" name="verificationCode" required>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="warn" class="full-width" type="submit"
              [disabled]="!verficationForm.form.valid || loading">Einloggen</button>
    </mat-card-actions>
    <mat-card-actions>
      <button mat-stroked-button color="warn" class="full-width" type="button" (click)="reset('')">Abbrechen</button>
    </mat-card-actions>
  </form>
</mat-card>
