/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f44336; }
input[type='text'],
input[type='number'],
input[type='tel'],
input[type='time'],
textarea {
  font-size: 16px;
}
#app {
  background-color: #f8f8f8;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box .row {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}
